<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html lang="en">

<head>
	{% load static %}

    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" media="screen">
	<link rel="stylesheet" href="{% static "css/styles.css" %}" media="screen">
	<script src="{% static "js/jquery-2.0.0.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>

    <style type="text/css">
		body {
			padding-top: 70px;
		}
	</style>

	<title>{% block title %}Blog{% endblock %}</title>
</head>
<body >
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li><a href="{% url "home" %}">Home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="themes">
							<li><a href="../default/">Default</a></li>
							<li class="divider"></li>
							<li><a href="../amelia/">Amelia</a></li>
							<li><a href="../yeti/">Yeti</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">School<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="download">
							<li><a href="{% url "school_course_list" %}">Courses</a></li>
							<li class="divider"></li>
							<li><a href="{% url "school_course_form" %}">Add course</a></li>
							<li class="divider"></li>
							<li><a href="./variables.less">variables.less</a></li>
							<li><a href="./bootswatch.less">bootswatch.less</a></li>
						</ul>
					</li>
					<li><a href="#/">Help</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="" >Built With Bootstrap</a></li>
					<li><a href="" >WrapBootstrap</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<!-- Content Block -->
		{% block content %}{% endblock %}
	</div>
</body>
</html>

